@model IEnumerable<LettingAgent.Models.Property>

@{
    ViewData["Title"] = "Properties to Let";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md">
                <div class="card" style="width: 100%">
                    <img src="@Html.DisplayFor(modelItem => item.PictureUrl)" class="card-img-top" alt="Property image" />
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Address1)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Property Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

