@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Letting Portal</h1>
    <p>Please browse the  <a asp-action="Index" asp-controller="Properties">Properties</a> which we have available to rent. Click on a property to view details and make an enquiry.</p>
</div>
